# 1. Data Cleaning - Python

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from deep_translator import GoogleTranslator
from collections import Counter

### 1.1 Read csv files

In [2]:
customer = pd.read_csv('olist_customers_dataset.csv')
geo = pd.read_csv('olist_geolocation_dataset.csv')
item = pd.read_csv('olist_order_items_dataset.csv')
payment = pd.read_csv('olist_order_payments_dataset.csv')
order = pd.read_csv('olist_orders_dataset.csv')
review = pd.read_csv('olist_order_reviews_dataset.csv')
product = pd.read_csv('olist_products_dataset.csv')
seller = pd.read_csv('olist_sellers_dataset.csv')
prodinfo = pd.read_csv('product_category_name_translation.csv')

In [6]:
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP

In [7]:
customer['customer_state'].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

### 1.2 Preliminary data cleaning

In [3]:
#Table 1 - Normalize the text
customer['customer_city'] = customer['customer_city'].str.title()
customer['customer_state'] = customer['customer_state'].str.upper()

#Table 2 - Drop dupilcated row
geo = geo.drop_duplicates()
geo = geo.groupby('geolocation_zip_code_prefix')[['geolocation_lat', 'geolocation_lng']].mean().reset_index()

#Table 3 - Normalize the text
item['shipping_limit_date'] = pd.to_datetime(item['shipping_limit_date'])

#Table 5 - Normalize the text
review['review_creation_date'] = pd.to_datetime(review['review_creation_date'])
review['review_answer_timestamp'] = pd.to_datetime(review['review_answer_timestamp'])

#Table 6 - Normalize the text
order['order_purchase_timestamp'] = pd.to_datetime(order['order_purchase_timestamp'])
order['order_approved_at'] = pd.to_datetime(order['order_approved_at'])
order['order_delivered_carrier_date'] = pd.to_datetime(order['order_delivered_carrier_date'])
order['order_delivered_customer_date'] = pd.to_datetime(order['order_delivered_customer_date'])
order['order_estimated_delivery_date'] = pd.to_datetime(order['order_estimated_delivery_date'])

#Table 7
product = product.fillna(0) # Fill NA
product['product_category_name'] = product['product_category_name'].astype('category') # Change the datatype of "product_category_name" columns from regular string to 74 categorical variables
product['product_category_name'] = product['product_category_name'].str.replace('_', ' ').str.lower() # Normalize the text, and thus easy to read in PowerBI 

for column in ['product_name_lenght', 'product_description_lenght', 'product_photos_qty']: #Change the datatype 3 columns from float to integer
    product[column] = product[column].astype('int')

#Table 8
seller['seller_city'] = seller['seller_city'].replace('04482255','unknown')
seller['seller_city'] = seller['seller_city'].str.title()
seller['seller_state'] = seller['seller_state'].str.upper()

#Table 9
prodinfo['product_category_name'] = prodinfo['product_category_name'].str.replace('_', ' ').str.lower()
prodinfo['product_category_name_english'] = prodinfo['product_category_name_english'].str.replace('_', ' ').str.lower()

In [4]:
newproduct = pd.merge(product, prodinfo,
                             on="product_category_name", how="left")

newproduct.rename(columns={"product_name_lenght":"product_name_length",
                                  "product_description_lenght":"product_description_length"},
                                  inplace=True)

newproduct["product_category_name"].fillna("others", inplace=True)
newproduct["product_category_name_english"].fillna("others", inplace=True)

newproduct.head()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40,287,1,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44,276,1,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte lazer,46,250,1,154.0,18.0,9.0,15.0,sports leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades domesticas,37,402,4,625.0,20.0,17.0,13.0,housewares

In [6]:
review["review_comment_message"] = review["review_comment_message"].astype(str)

In [7]:
# select all message which length>200

top_n_longest_review = []
top_n_longest_review_score = []

def appendFuction(x):
    
    '''return the message which is score>x and its length>200'''

    for i in range(len(review['review_score'])):
        if review['review_score'][i]==x and len(review['review_comment_message'][i])>200:
            top_n_longest_review.append(review['review_comment_message'][i])
            top_n_longest_review_score.append(x)

appendFuction(5.0)
appendFuction(4.0)
appendFuction(3.0)
appendFuction(2.0)
appendFuction(1.0)

data = {'review_comment_message':top_n_longest_review, 'review_score': top_n_longest_review_score}
longest_eng_message = pd.DataFrame(data)

# Translation
longest_eng_message['review_comment_message'] = longest_eng_message['review_comment_message'].apply(lambda x: GoogleTranslator(source='pt', target='en').translate(x))
longest_eng_message

                               review_comment_message  review_score
0   If you see my cad. just watch baratheon purcha...           5.0
1   It arrived faster than the estimated time, I w...           5.0
2   I was afraid to do this on the Internet, but I...           5.0
3   But once, Baratheon did not disappoint me. I b...           5.0
4   I was very satisfied with the purchase, the ti...           5.0
..                                                ...           ...
83  They tried to deliver with the wrong address a...           1.0
84  I bought the chair from targaryen partner of L...           1.0
85  I can't give an opinion because the product I ...           1.0
86  The courier at the Post Office was rude, he wa...           1.0
87  I PURCHASED THE PRODUCT EMBLOLO DISCHARGE VALV...           1.0

[88 rows x 2 columns]

In [8]:
# Count the most comment keyword in all review message
n1 = 300
p = Counter(" ".join(review["review_comment_message"]).split()).most_common(n1)

# Create a DataFrame for the top n1-keyword
most_common_n_word = pd.DataFrame(p, columns=['word', 'frequency'])

# Since the translation cannot translate object for integer, we have to convert the 'word' column to str
most_common_n_word["word"] = most_common_n_word["word"].astype(str)

# We now drop the word in which length is less than n2
n2 = 7
for i in range(len(most_common_n_word["word"])):
    if len(str(most_common_n_word["word"][i]))<7:
        most_common_n_word = most_common_n_word.drop(i)

# Since we drop the certain rows, we have to handle the index matter
most_common_n_word = most_common_n_word.reset_index()
most_common_n_word = most_common_n_word.drop('index',axis=1)

# Lowercase the string
most_common_n_word['word'] = most_common_n_word['word'].str.lower()

# Start translation
most_common_n_word['word'] = most_common_n_word['word'].apply(lambda x: GoogleTranslator(source='pt', target='en').translate(x))

# Since the are some duplicates after translation, we first drop the certain rows, we have to handle the index matter
most_common_n_word = most_common_n_word.drop_duplicates(subset=['word'])
most_common_n_word = most_common_n_word.reset_index()
most_common_n_word = most_common_n_word.drop('index',axis=1)


# Let see the DataFrame 
pd.set_option('display.max_rows', None)
most_common_n_word

              word  frequency
0          product      11357
1         delivery       3907
2        delivered       2964
3      I recommend       1578
4          quality       1387
5         I bought       1286
6         product.       1218
7         product,       1129
8         products        912
9        according        822
10       lannister        806
11        purchase        783
12           great        694
13        quality.        583
14       delivery.        563
15         Perfect        550
16         contact        515
17         problem        487
18    I recommend.        484
19         waiting        463
20        quality,        455
21      to receive        429
22         company        405
23            time        401
24      attendance        392
25          packed        378
26       different        374
27       satisfied        368
28     merchandise        356
29       delivery,        353
30    post offices        344
31         packing        339
32            only        338
33        material        337
34           clock        317
35       purchase.        317
36  Happy birthday        313
37           fast.        311
38        foreseen        311
39         missing        302
40          seller        294
41       foreseen.        293
42           fast,        278
43         correct        271
44            gift        270
45            none        263
46      delivered.        261
47     post office        258
48           money        253
49         exactly        247
50           first        240
51      devolution        237
52        straight        237
53            size        232
54         deliver        229
55          client        229
56       purchases        226
57         delayed        223
58        problems        223
59       baratheon        221
60          answer        220
61          return        215
62       purchase,        212
63           could        210
64          defect        208
65         perfect        207
66       it should        204
67         packed.        200
68        Received        200
69         address        196
70     description        195
71          I wait        195
72       targaryen        194

In [ ]:
"""
#Check after cleaning
cleaned = [customer, geo, item, payment, order, review, product, seller, prodinfo, longest_eng_message, most_common_n_word]
for file in cleaned:
    
    print("Columns and rows:", file.shape)
    display(file.info()) #file info
    print("Content:")
    display(file)
"""

# 2. Connect and ingest to mysql

### 2.1 Connect and create database

In [10]:
#conda install sqlalchemy
#conda install pymysql
from sqlalchemy import create_engine

# This engine just used to query for list of databases
mysql_engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/"
                             .format(user="root",
                               pw="password")
                            )

# Query for existing databases
existing_databases = mysql_engine.execute("SHOW DATABASES;")
# Results are a list of single item tuples, so unpack each tuple
existing_databases = [d[0] for d in existing_databases]

# Create database if not exists
database = "final project"
if database not in existing_databases:
    mysql_engine.execute("CREATE DATABASE `{db}`".format(db=database))
    print("Created database '{db}'".format(db=database))

db_engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                             .format(user="root",
                               pw="password",db=database)
                            )

Created database 'final project'

### 2.2 Save as csv file for backup

In [13]:
os.makedirs('./dataset_cleaned', exist_ok=True) 

customer.to_csv('./dataset_cleaned/olist_customers_dataset.csv')
geo.to_csv('./dataset_cleaned/olist_geolocation_dataset.csv')
item.to_csv('./dataset_cleaned/olist_order_items_dataset.csv')


payment.to_csv('./dataset_cleaned/olist_order_payments_dataset.csv')
order.to_csv('./dataset_cleaned/olist_orders_dataset.csv')
review.to_csv('./dataset_cleaned/olist_order_reviews_dataset.csv')


newproduct.to_csv('./dataset_cleaned/olist_products_dataset.csv')
seller.to_csv('./dataset_cleaned/olist_sellers_dataset.csv') 
prodinfo.to_csv('./dataset_cleaned/product_category_name_translation.csv')

In [14]:
# add 2 new dataframe
longest_eng_message.to_csv('./dataset_cleaned/longest_eng_message.csv')
most_common_n_word.to_csv('./dataset_cleaned/most_common_n_word.csv')

### 2.3 Ingest to mysql

In [15]:
path='./dataset_cleaned'
for file in os.listdir(path):
    if file.endswith('csv'):
        df = pd.read_csv(path+"/"+file)
        table_name = file.split('.csv')[0]
        df.to_sql(table_name, con=db_engine)
        print(f'Successfully import /{table_name}')

Successfully import /longest_eng_message
Successfully import /most_common_n_word
Successfully import /olist_customers_dataset
Successfully import /olist_geolocation_dataset
Successfully import /olist_orders_dataset
Successfully import /olist_order_items_dataset
Successfully import /olist_order_payments_dataset
Successfully import /olist_order_reviews_dataset
Successfully import /olist_products_dataset
Successfully import /olist_sellers_dataset
Successfully import /product_category_name_translation